:root {
    --cta-color: #05051a;
    --hover-bg: #8484c7;
    --primary-color: #161617;
    --success-color: #7eb691;
    --secondary-color: #441744;
    --success-color: #7eb691;
    --warning-color: #f5c118;
    --error-color: #dc3545;
    --info-color: #77acbe;
    --offline-color:#d4dde08c;
    --primary-font-colour: #fff;
    --btn-primary-color:#007BFF;
    --btn-secondary-color:#6C757D;
    --box-shadow:rgba(19, 1, 1, 0.822);
    --border-color:hsl(39, 77%, 83%);
    --body-color:#c5c7c9;
  
  }
  
  
  body {
      font-family: sans-serif;
      margin: 0px;
      padding: 0px;
     
    }
    html{
      font-size: 62.5%;
    }
    
    .containr {
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr;
      grid-template-rows: 0.2fr 1.2fr 1.5fr;
      grid-template-areas:
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar main main main"
        "...... main main main";
    
      justify-content: center;
      background-color: var(--primary-font-colour);
      position: relative;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      flex-wrap: wrap;
      margin: 3rem;
      justify-content: space-between;
      grid-gap:4rem 4rem;
      width: 90%;
    }
    
    nav {
      background-color: var(--cta-color);
      grid-area: nav;
      height: 5rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      position: fixed;
      color: var(--primary-font-colour);
      font-size: 1.5rem;
    }
    .card-prododuct-result{
      position: absolute;
      top: 4.5rem;
      font-size: 2rem;
      margin-left: 0px;
    }
    .logo{
      font-size: 2rem;
    }
    .search-data {
      height: 2rem;
      width: 20%;
      padding: 8px 10px;
      border-radius: 8px;
      border: 2px solid var(--cta-color);
    }
    .fa-search {
      position: absolute;
      top: 20px;
      margin-left: 12rem;
      color: var(--cta-color);
    }
    .fa-heart-half {
      color: var(--primary-font-colour);
    }
    
    .cart-icon {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -4px;
      padding: 5px;
      height: 1rem;
      width: 1rem;
      background-color: var(--error-color);
      border-radius: 50%;
    }
    li {
      display: inline-block;
      margin: 2rem;
     
    }
    main {
      background-color: var( --body-color);
      grid-area: main;
      padding: 10px;
    
    }
    .btn {
      font-size: 1.5rem;
      border-radius: 10px;
      border: none;
      padding: 5px;
      text-align: center;
      cursor: pointer;
      font-weight: 500;
    }
    .cart_cont{
        width: 80%;
        height: 50rem;
        background-color:var( --body-color);
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 6rem;
        margin-left: 10%;
    }

    .cart-page {
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
        position: relative;
      
      } 
      .cart-section{
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        align-items: center;
        margin: 10px;
        width: 40rem;
        height: 30rem;
        background-color: var(--primary-font-colour);
        padding: 10px;
    }
    .cart-section img{
        width: 20rem;
        height: 30rem;
        border-radius: 10px;
      }
     .cart-price-offer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.5rem;
        padding: 15px;
      }
    .cart-quantity{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left:10px;
    }
    .count{
       padding: 1px 5px;
       margin: 0 5px;
       border: 1px solid var(--btn-primary-color);
       border-radius: 5px;
    }
    .cart-control{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }
    .cart-minus{
        padding: 0.2rem 0.6rem;
        border-radius: 50%;
        border: 1px solid var(--btn-secondary-color);
    }
    .cart-plus{
        padding: 0.2rem 0.6rem;
        border-radius: 50%;
        border: 1px solid var(--btn-secondary-color);
    }
    .cart-price-cont{
      display: flex;
      flex-direction: column;
      padding: 2.5rem;
      position: relative;
    }
    .cart-price-card{
      margin: 10px;
      width: 35rem;
      height: 40rem;
      background-color: var(--primary-font-colour);
      padding: 20px;
    }
    .cart-price-heading{
      padding: 10px;
      border-bottom: 2px solid var(--primary-font-colour);
      font-size: large;
    }
    .cart-pricing{
      width: 100%;
      height: 8rem;
      border-bottom: 2px solid var(--btn-secondary-color);
    }
    .cart-pricing-item{
      display: flex;
      font-size: 1.5rem;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
     }
    .cart-total-amount{
      display: flex;
      align-items: center;
      width: 100%;
      height: 2.5rem;
      border-bottom: 2px solid var(--btn-secondary-color);
      border-top: 2px solid var(--btn-secondary-color);
      font-size: 1.6rem;
      font-weight: 600;
    
    }
    .cart-saving-money{
      margin-top: 1.5rem;
      font-size: 1.6rem;
      color: var(--btn-secondary-color);

    }
    .btn-order{
    width: 100%;
    height: 4rem;
    color: var(--primary-font-colour);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
    font: 1.6rem sans-serif;
    letter-spacing: 1px;
    background-color: var(--btn-primary-color);
    }
    span {
      margin: 10px;
    }
    input {
      margin-left: 2rem;
    }
   
    